<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

    <section class="content-section">
        <div class="container">
            <div class="content-section__top">
                <div class="content-section__top-logo">
                    <a href="/" class="content-section__top-logo-link">
                        <img src="%=staticPrefix=%img/general/logo.png" alt="" class="content-section__top-logo-img">
                    </a>
                </div>
            </div>
            <h1>Купить авто в Самаре</h1>
            <div class="content-section__promo">
                <img src="%=staticPrefix=%img/content/video.png" alt="" width="100%">
            </div>
            {{> uslugi/uslugi2}}
        </div>
    </section>
  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>
