<div class="title">Заказать звонок</div>
<div class="form">
    <div class="form__line">
        <input type="text" placeholder="Номер телефона">
    </div>
    <div class="form__line">
        <input type="text" placeholder="Ваше имя">
    </div>
    <div class="form__line form__line_submit">
        <button class="btn btn_submit" data-action="submit-form">Оставить заявку</button>
    </div>
</div>
