<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

    <section class="content-section">
        <div class="container">
            <div class="content-section__top hidden-xs">
                <div class="content-section__top-logo">
                    <a href="/" class="content-section__top-logo-link">
                        <img src="%=staticPrefix=%img/general/logo.png" class="content-section__top-logo-img">
                    </a>
                </div>
            </div>
            <h1>Каталог</h1>
            <div class="content-section__breadcrumbs hidden-xs">
                <div class="content-section__breadcrumbs-item"><a href="#" class="content-section__breadcrumbs-item-link">Каталог</a></div>
                <div class="content-section__breadcrumbs-item"><a href="#" class="content-section__breadcrumbs-item-link">Mercedes GLK</a></div>
            </div>
            <div class="car-page">
                <div class="car-page__top">
                    <div class="car-page__top-back visible-xs">
                        <button class="car-page__top-back-btn"></button>
                    </div>
                    <h1 class="car-page__title">Mercedes-Benz GLK-класс, 2012</h1>
                    <div class="car-page__price hidden-xs">1 350 000 руб.</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="car-page__photos hidden-xs" data-gallery="car-photos">
                            <div class="car-page__photos-lg" data-lightbox="true">
                                <a href="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-link chocolat-image" data-img="car-photo1">
                                    <img src="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo2">
                                    <img src="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo3">
                                    <img src="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo4">
                                    <img src="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo5">
                                    <img src="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo6">
                                    <img src="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo7">
                                    <img src="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo8">
                                    <img src="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo9">
                                    <img src="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-link chocolat-image hide" data-img="car-photo10">
                                    <img src="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-img">
                                </a>
                            </div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo1"><img src="%=staticPrefix=%img/content/sm_photo1.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo2"><img src="%=staticPrefix=%img/content/sm_photo2.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo3"><img src="%=staticPrefix=%img/content/sm_photo3.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo4"><img src="%=staticPrefix=%img/content/sm_photo4.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo5"><img src="%=staticPrefix=%img/content/sm_photo5.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo6"><img src="%=staticPrefix=%img/content/sm_photo1.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo7"><img src="%=staticPrefix=%img/content/sm_photo2.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo8"><img src="%=staticPrefix=%img/content/sm_photo3.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo9"><img src="%=staticPrefix=%img/content/sm_photo4.png" class="car-page__photos-sm-img"></div>
                            <div class="car-page__photos-sm" data-show-photo="car-photo10"><img src="%=staticPrefix=%img/content/sm_photo5.png" class="car-page__photos-sm-img"></div>
                        </div>
                        <div class="car-page__photos visible-xs">
                            <div class="owl-carousel" data-lightbox="true">
                                <a href="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo1.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo2.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo3.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo4.jpg" class="car-page__photos-lg-img">
                                </a>
                                <a href="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-link chocolat-image">
                                    <img src="%=staticPrefix=%img/content/lg_photo5.jpg" class="car-page__photos-lg-img">
                                </a>
                            </div>
                        </div>
                        <div class="car-page__price visible-xs">1 350 000 руб.</div>
                        <div class="car-page__desc hidden-xs">
                            <div class="car-page__desc-title">Описание</div>
                            <p>Автомобиль эксплуатировался от дома до работы, гаражное хранение. Салон чистый,ухоженный, не курили. Сиденья без заломов и потертостей. Двигатель и ходовая часть в отличном состоянии. Вложений никаких не требуют. Очень хорошая комплектация! Проведена проверка юридической чистоты автомобиля! Антиблокировочная система (ABS); Антипробуксовочная система; Датчик дождя; Датчик света; Круиз-контроль; Легкосплавные диски; Мультимедиа; Обогрев зеркал; Обогрев сидений; Охранная система; Эл. сиденья; Кожаный салон; Система курсовой стабилизации; Центральный замок; Электрозеркала; Эл. стеклоподъемники: 4 шт; Климат контроль; Противотуманные фары; Защита картера; Webasto; Комиссия!!! Бесплатная стоянка, размещение автомобилей на всех сайтах по продаже авто, что увеличит вероятность продажи Вашего автомобиля в короткие сроки. Обменяем Ваш автомобиль на любой автомобиль с нашей площадки. У нас огромный выбор автомобилей! Кредит! Предлагаем выгодное автокредитование по двум документа, без первоначального взноса на срок до 7 лет, без оформления КАСКО!!! Вы уедете на автомобиле в день подачи заявки! Выкупим Ваш автомобиль дорого!!! Деньги в течение 15 минут! В случае, если автомобиль в кредите, погасим Ваш кредит! Индивидуальный подход к каждому покупателю!!!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="car-page__info">
                            <div class="car-page__info-buy">
                                <div class="car-page__info-buy-btn car-page__info-buy-btn_blue">
                                    <button type="button" class="btn btn_block btn_blue" data-action='{"show-modal": {"url": "/buy_modal.html"}}'>Купить</button>
                                </div>
                                <div class="car-page__info-buy-btn">
                                    <div class="car-page__info-buy-btn-note">от 13 500 руб./мес.</div>
                                    <button type="button" class="btn btn_block btn_green">Купить в кредит</button>
                                </div>
                                <div class="car-page__info-buy-btn">
                                    <button type="button" class="btn btn_block btn_dark" data-action='{"show-modal": {"url": "/price_modal.html"}}'>Предложить свою цену</button>
                                </div>
                                <div class="car-page__info-buy-btn">
                                    <button type="button" class="btn btn_block btn_dark">Обмен</button>
                                </div>
                            </div>
                            <div class="car-page__info-props">
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Год выпуска:</div>
                                    <div class="car-page__info-prop-val">2012</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Пробег:</div>
                                    <div class="car-page__info-prop-val">30000 км</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Тип кузова:</div>
                                    <div class="car-page__info-prop-val">Универсал</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Цвет:</div>
                                    <div class="car-page__info-prop-val">Черный</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Объём двигателя:</div>
                                    <div class="car-page__info-prop-val">2.0</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">КПП:</div>
                                    <div class="car-page__info-prop-val">Автомат</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Тип двигателя:</div>
                                    <div class="car-page__info-prop-val">Бензин</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Привод:</div>
                                    <div class="car-page__info-prop-val">Полный</div>
                                </div>
                                <div class="car-page__info-prop">
                                    <div class="car-page__info-prop-label">Количество записей в ПТС:</div>
                                    <div class="car-page__info-prop-val">2</div>
                                </div>
                            </div>
                            <div class="car-page__info-location">
                                <div class="car-page__info-location-title">Авто находится в салоне Sky Plaz:</div>
                                <div class="car-page__info-location-address">
                                    <a href="#" class="car-page__info-location-address-link">ул. Московское шоссе/Пр. Масленникова</a>
                                </div>
                            </div>
                            <div class="car-page__info-manager">
                                <div class="car-page__info-manager-title">Ваш личный менеджер:</div>
                                <div class="car-page__info-manager-photo"><img src="%=staticPrefix=%img/content/manager.png" class="car-page__info-manager-photo-img"></div>
                                <div class="car-page__info-manager-contacts">
                                    <div class="car-page__info-manager-name">Артур Ермаков</div>
                                    <div class="car-page__info-manager-phone">+7 (963) 911-97-48</div>
                                </div>
                            </div>
                        </div>
                        <div class="car-page__complect">
                            <div class="car-page__complect-title">Комплектация</div>
                            <ul>
                                <li>Антиблокировочная система (ABS)</li>
                                <li>Антипробуксовочная система</li>
                                <li>Бортовой компьютер</li>
                                <li>Датчик дождя</li>
                                <li>Датчик света	</li>
                                <li>Кондиционер</li>
                                <li>Круиз-контроль</li>
                                <li>Ксеноновые фары</li>
                                <li>Легкосплавные диски</li>
                                <li>Мультимедиа: MP3</li>
                                <li>Обогрев зеркал</li>
                                <li>Обогрев сидений</li>
                                <li>Омыватель фар</li>
                                <li>Охранная система</li>
                                <li>Подушки безопасности: Фронтальные + боковые</li>
                                <li>Регулировка руля: 2 плоскости</li>
                                <li>Салон: Комбинированный</li>
                                <li>Система курсовой стабилизации</li>
                                <li>Тонированные стекла</li>
                                <li>Усилитель рулевого управления: Электро</li>
                                <li>Цвет салона: Темный</li>
                                <li>Центральный замок</li>
                                <li>Электрозеркала</li>
                                <li>Электростеклоподъемники: Передние + задние</li>
                            </ul>
                        </div>
                        <div class="car-page__desc visible-xs">
                            <div class="car-page__desc-title">Описание</div>
                            <p>Автомобиль эксплуатировался от дома до работы, гаражное хранение. Салон чистый,ухоженный, не курили. Сиденья без заломов и потертостей. Двигатель и ходовая часть в отличном состоянии. Вложений никаких не требуют. Очень хорошая комплектация! Проведена проверка юридической чистоты автомобиля! Антиблокировочная система (ABS); Антипробуксовочная система; Датчик дождя; Датчик света; Круиз-контроль; Легкосплавные диски; Мультимедиа; Обогрев зеркал; Обогрев сидений; Охранная система; Эл. сиденья; Кожаный салон; Система курсовой стабилизации; Центральный замок; Электрозеркала; Эл. стеклоподъемники: 4 шт; Климат контроль; Противотуманные фары; Защита картера; Webasto; Комиссия!!! Бесплатная стоянка, размещение автомобилей на всех сайтах по продаже авто, что увеличит вероятность продажи Вашего автомобиля в короткие сроки. Обменяем Ваш автомобиль на любой автомобиль с нашей площадки. У нас огромный выбор автомобилей! Кредит! Предлагаем выгодное автокредитование по двум документа, без первоначального взноса на срок до 7 лет, без оформления КАСКО!!! Вы уедете на автомобиле в день подачи заявки! Выкупим Ваш автомобиль дорого!!! Деньги в течение 15 минут! В случае, если автомобиль в кредите, погасим Ваш кредит! Индивидуальный подход к каждому покупателю!!!</p>
                        </div>
                    </div>
                </div>
            </div>

            {{> catalog/more}}

        </div>
    </section>
  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>
