<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

    <section class="content-section">
        <div class="container">
            <div class="content-section__top hidden-xs">
                <div class="content-section__top-logo">
                    <a href="/" class="content-section__top-logo-link">
                        <img src="%=staticPrefix=%img/general/logo.png" alt="" class="content-section__top-logo-img">
                    </a>
                </div>
            </div>
            <h1 class="h1_smm">Каталог</h1>
            <div class="catalog-page">
                <div class="catalog-filters">
                    <div class="catalog-filters__title">Подбор авто</div>
                    <div class="catalog-filters__open">
                        <button class="catalog-filters__open-btn" data-action="toggle-filters">Подбор по параметрам</button>
                    </div>
                    <div id="filters" class="catalog-filters__fields">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Марка</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Модель</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Коробка</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Год от</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Год до</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Двигатель</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <select class="selectpicker">
                                        <option>Привод</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
                                <div class="catalog-filters__field">
                                    <input type="text" placeholder="Пробег от">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <input type="text" placeholder="Пробег до">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <input type="text" placeholder="Цена от">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <div class="catalog-filters__field">
                                    <input type="text" placeholder="Цена до">
                                </div>
                            </div>
                        </div>
                        <div class="catalog-filters__submit">
                            <div class="hidden-xs"><button type="button" class="btn btn_pick">Подобрать</button></div>
                            <div class="visible-xs"><button type="button" class="btn btn_block btn_pick">Подобрать</button></div>
                        </div>
                    </div>
                </div>
                <div class="catalog-page__sorts">
                    <div class="catalog-page__sort hidden-xs"><b>Сортировка:</b> <a href="#">сначала новинки</a> | <a href="#">сначала специальные предложения</a></div>
                    <div class="catalog-page__sort"><b>По цене:</b> <a href="#">по возрастанию</a> | <a href="#">по убыванию</a></div>
                </div>
                <div class="catalog">
                    <div class="catalog__items">
                        {{#repeat 4}}
                        <div class="catalog__item">
                            <a href="/car.html" class="catalog__item-link">
                                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo2.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                                <div class="catalog__item-info">
                                    <div class="catalog__item-name">Toyota RAV4</div>
                                    <div class="catalog__item-props">
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Год выпуска</div>
                                            <div class="catalog__item-prop-val">2008</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Пробег</div>
                                            <div class="catalog__item-prop-val">147000 км</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Объем двигателя</div>
                                            <div class="catalog__item-prop-val">2.4 л</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">КПП</div>
                                            <div class="catalog__item-prop-val">автомат</div>
                                        </div>
                                    </div>
                                    <div class="catalog__item-price">790 000 руб.</div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__item">
                            <a href="/car.html" class="catalog__item-link">
                                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo3.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                                <div class="catalog__item-info">
                                    <div class="catalog__item-name">Volkswagen Tiguan</div>
                                    <div class="catalog__item-props">
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Год выпуска</div>
                                            <div class="catalog__item-prop-val">2008</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Пробег</div>
                                            <div class="catalog__item-prop-val">147000 км</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Объем двигателя</div>
                                            <div class="catalog__item-prop-val">2.4 л</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">КПП</div>
                                            <div class="catalog__item-prop-val">автомат</div>
                                        </div>
                                    </div>
                                    <div class="catalog__item-price">675 000 руб.</div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__item">
                            <a href="/car.html" class="catalog__item-link">
                                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo2.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                                <div class="catalog__item-info">
                                    <div class="catalog__item-name">Toyota RAV4</div>
                                    <div class="catalog__item-props">
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Год выпуска</div>
                                            <div class="catalog__item-prop-val">2008</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Пробег</div>
                                            <div class="catalog__item-prop-val">147000 км</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Объем двигателя</div>
                                            <div class="catalog__item-prop-val">2.4 л</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">КПП</div>
                                            <div class="catalog__item-prop-val">автомат</div>
                                        </div>
                                    </div>
                                    <div class="catalog__item-price">790 000 руб.</div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__item">
                            <a href="/car.html" class="catalog__item-link">
                                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo3.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                                <div class="catalog__item-info">
                                    <div class="catalog__item-name">Volkswagen Tiguan</div>
                                    <div class="catalog__item-props">
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Год выпуска</div>
                                            <div class="catalog__item-prop-val">2008</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Пробег</div>
                                            <div class="catalog__item-prop-val">147000 км</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">Объем двигателя</div>
                                            <div class="catalog__item-prop-val">2.4 л</div>
                                        </div>
                                        <div class="catalog__item-prop">
                                            <div class="catalog__item-prop-label">КПП</div>
                                            <div class="catalog__item-prop-val">автомат</div>
                                        </div>
                                    </div>
                                    <div class="catalog__item-price">675 000 руб.</div>
                                </div>
                            </a>
                        </div>
                        {{/repeat}}
                    </div>
                    <div class="catalog__more catalog__more_sm">
                        <button class="btn btn_more">Показать еще</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>
