<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

    <section class="content-section">
        <div class="container">
            <div class="content-section__top hidden-xs">
                <div class="content-section__top-logo">
                    <a href="/" class="content-section__top-logo-link">
                        <img src="%=staticPrefix=%img/general/logo.png" alt="" class="content-section__top-logo-img">
                    </a>
                </div>
            </div>
            <h1>Контакты</h1>
            <div class="content-section__page">
                <div class="contacts">
                    <div class="contacts__phones">Телефоны: <br class='visible-xs'> 8 (800) 707-10-19,   8 (846) 215-01-02</div>
                    <div class="contacts__adresses">
                        <div class="contacts__adresses-title">Адреса автосалонов Skyplaz:</div>
                        <div class="contacts__adress">
                            <b>ул. Московское шоссе / пр-т Масленникова</b>
                            <div class="contacts__adress-note">ст. метро «Московская»</div>
                        </div>
                        <div class="contacts__adress">
                            <b>ул. Московское шоссе, 153 «а»</b>
                            <div class="contacts__adress-note">ост. ТЦ «Империя»</div>
                        </div>
                        <div class="contacts__adress">
                            <b>ул. Ново-Садовая, 154 «д»</b>
                            <div class="contacts__adress-note">ост. Овраг подпольщиков</div>
                        </div>
                    </div>
                    <div class="contacts__socials">
                        <div class="contacts__socials-title">Соцсети:</div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_vk"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_insta"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_fb"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_twitter"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_youtube"></i></a>
                        </div>
                    </div>
                    <div class="contacts__socials">
                        <div class="contacts__socials-title">Мессенджеры:</div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_viber"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_whatsapp"></i></a>
                        </div>
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link"><i class="icn icn_skype"></i></a>
                        </div>
                    </div>
                    <div class="contacts__map hidden-xs">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0c0dbc4c3d96a5a37736f5a550f69682011158c76c53a374fc8049828bf14de&amp;width=100%25&amp;height=550&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                    <div class="contacts__map visible-xs">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A83a7c4f3b744a1cc720a3984ec2b8397dd92a22f645052a9a0ea891fbbf6603f&amp;width=100%25&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>
