<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

    <section class="content-section">
        <div class="container">
            <div class="content-section__top hidden-xs">
                <div class="content-section__top-logo">
                    <a href="/" class="content-section__top-logo-link">
                        <img src="%=staticPrefix=%img/general/logo.png" alt="" class="content-section__top-logo-img">
                    </a>
                </div>
            </div>
            <h1>В кредит у соседа</h1>
            <div class="content-section__breadcrumbs hidden-xs">
                <div class="content-section__breadcrumbs-item"><a href="#" class="content-section__breadcrumbs-item-link">Услуги</a></div>
                <div class="content-section__breadcrumbs-item"><a href="#" class="content-section__breadcrumbs-item-link">Купить</a></div>
                <div class="content-section__breadcrumbs-item"><a href="#" class="content-section__breadcrumbs-item-link">В кредит у соседа</a></div>
            </div>
            <div class="content-section__promo">
                <img src="%=staticPrefix=%img/content/credit.png" alt="" width="100%">
            </div>
            <div class="content-section__page">
                <div class="buy-pluses">
                    <div class="buy-pluses__item">
                        <div class="buy-pluses__item-icon"><i class="icn icn_fast"></i></div>
                        <div class="buy-pluses__item-title">Быстро</div>
                        <div class="buy-pluses__item-note">Оформим все документы в течение часа</div>
                    </div>
                    <div class="buy-pluses__item">
                        <div class="buy-pluses__item-icon"><i class="icn icn_reliably"></i></div>
                        <div class="buy-pluses__item-title">Надёжно</div>
                        <div class="buy-pluses__item-note">Произведем техническую экспертизу автомобиля</div>
                    </div>
                    <div class="buy-pluses__item">
                        <div class="buy-pluses__item-icon"><i class="icn icn_easy"></i></div>
                        <div class="buy-pluses__item-title">Удобно</div>
                        <div class="buy-pluses__item-note">Вы забираете автомобиль в день покупки</div>
                    </div>
                </div>
                <p class="highlighted">Если Вы хотите купить автомобиль в кредит у частного лица, то Вам необходимо проводить сделку через аккредитованный Банком автосалон. Наш автосалон SkyPlaz аккредитован во всех Самарских и крупных Федеральных Банках! Процедура простая:</p>
                <p class="with-num"><span class="num">1</span>Вам необходимо иметь одобренный автокредит. Если одобрения нет или Вы ещё не обращались в банки, то <a href="#">оставьте заявку</a> и мы это сделаем за Вас!</p>
                <p class="with-num with-num_smm"><span class="num">2</span>Вам необходимо совместно с продавцом автомобиля и на этом же авто приехать к нам в автосалон SkyPlaz в любое удобное для Вас отделение. Собственник автомобиля должен иметь при себе оригиналы документов:</p>
                    <ul>
                        <li>а) общегражданский паспорт </li>
                        <li>б) ПТС </li>
                        <li>в) Свидетельство о регистрации автомобиля </li>
                        <li>г) Генеральная доверенность, если продавец не собственник по ПТС.</li>
                    </ul>
                <p class="with-num with-num_smp">С продавцом наш автосалон SkyPlaz заключает договор комиссии, в котором указывается состояние автомобиля, комплектация, количество ключей и стоимость автомобиля за которую Вы её покупаете, т.е. та цена, за которую продавец продаёт свой автомобиль. Сам автомобиль, ключи и оригиналы документов остаются у нас в автосалоне под охраной и видео-наблюдением, поэтому всё под защитой!</p>
                <p class="with-num"><span class="num">3</span>Вы оплачиваете у нас в кассе первоначальный взнос, если он имеется и подписываете прямо у нас в автосалоне SkyPlaz кредитный договор. Сразу же мы готовим Вам все необходимые документы для постановки автомобиль на учёт в ГАИ, это заявление, бланки, договор купли-продажи и конечно же страховой полис, который так-же мы оформим Вам у нас в автосалоне SkyPlaz!</p>
                <p class="with-num"><span class="num">4</span>Сделка оформлена и Вы сразу уедете на своём новом автомобиле в этот же день!</p>
                <p class="with-num"><span class="num">5</span>После того как Вы оформили кредитный договор, наш автосалон SkyPlaz сразу произведёт расчёт за автомобиль с продавцом.Если был оплачен первоначальный взнос, то его мы выдадим продавцу автомобиля. А остаток суммы перечислим на расчетный счёт продавца. Всё, довольно таки легко и просто. Поэтому Вы можете купить свой будущий автомобиль в кредит даже у соседа! </p>
            </div>
            <div class="credit-order">
                <div class="credit-order__title">Оставить заявку</div>
                <div class="credit-order__form">
                    <div class="credit-order__form-line"><input type="text" placeholder="Ваше имя"></div>
                    <div class="credit-order__form-line"><input type="text" placeholder="Номер телефона"></div>
                    <div class="credit-order__form-line credit-order__form-line_submit">
                        <input type="submit" class="btn btn_submit" value="Оставить заявку">
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>
