/******************************************************
  ICONS
 ******************************************************/
 .icn {
    &:before {
        content : '';
        display: inline-block;
        vertical-align: middle;
    }

    &.icn-bottom:before {
        vertical-align: bottom;
    }

    &.icn-top:before {
        vertical-align: top;
    }

    &.icn_fast:before {
        @include bg($icn_man);
    }

    &.icn_reliably:before {
        @include bg($icn_check);
    }

    &.icn_easy:before {
        @include bg($icn_speed);
    }

    &.icn_vk:before {
        @include bg($icn_vk);
    }

    &.icn_insta:before {
        @include bg($icn_insta);
    }

    &.icn_fb:before {
        @include bg($icn_fb);
    }

    &.icn_twitter:before {
        @include bg($icn_twitter);
    }

    &.icn_youtube:before {
        @include bg($icn_youtube);
    }

    &.icn_viber:before {
        @include bg($icn_viber);
    }

    &.icn_whatsapp:before {
        @include bg($icn_whatsapp);
    }

    &.icn_skype:before {
        @include bg($icn_skype);
    }
}

/******************************************************
  GENERAL
 ******************************************************/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: $GothamPro;
}

.container {
    @include media(xs) {
        padding: 0 5px;
    }
}

.row {
    @include media(xs) {
        margin: 0 -5px;
    }
}

.wrapper {
    min-height: 100%;
    min-width: 300px;
    padding-bottom: 200px;
    padding-top: 150px;

    @include media('xs') {
        padding-bottom: 140px;
    }

    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include media('sm') {
            background-image: url('%=staticPrefixForCss=%general/bg/content.png');
        }

        @include media('xs') {
            background-image: url('%=staticPrefixForCss=%general/bg/content_xs.png');
            background-size: 100%;
        }
    }
}

h1, .h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 60px;

    @include media('xs') {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
    }
}

h2, .h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;

    @include media('xs') {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

/******************************************************
  MAIN STYLES
 ******************************************************/

.content-section {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 90px;

    &_lm {
        padding-top: 130px;
    }

    @include media(xs) {
        padding-bottom: 40px;
    }

    &__top {
        padding: 40px 0;

        &-logo {
            text-align: center;

            &-link {
                @include nolink;
            }
        }
    }

    &__promo {
        margin-bottom: 60px;

        @include media(xs) {
            margin-bottom: 25px;
        }
    }

    &__page {
        background-color: #fff;

        @include media(xs) {
            padding: 40px;
        }

        @include media(sm) {
            padding: 80px 50px;
        }

        @include media(lg) {
            padding: 80px 110px;
        }

        p {
            color: #151515;
            font-size: 21px;
            line-height: 37px;

            @include media(xs) {
                text-align: center;
                font-size: 16px;
                line-height: 25px;
            }

            &.highlighted {
                padding: 70px 110px;
                background-color: #dde8f6;
                color: #202f42;
                text-align: center;
                font-size: 21px;
                font-weight: 400;
                line-height: 37px;
                margin-bottom: 80px;

                @include media(xs) {
                    font-size: 18px;
                    line-height: 30px;
                    padding: 40px 15px;
                    margin-left: -40px;
                    margin-right: -40px;
                    margin-bottom: 25px;
                }

                @include media(sm) {
                    margin-left: -50px;
                    margin-right: -50px;
                    margin-bottom: 50px;
                }

                @include media(lg) {
                    margin-left: -110px;
                    margin-right: -110px;
                    margin-bottom: 80px;
                }
            }

            &.with-num {
                position: relative;
                padding-left: 85px;
                margin-bottom: 60px;

                @include media(xs) {
                    padding-top: 100px;
                    padding-left: 0;
                }

                &_smm {
                    margin-bottom: 30px;
                }

                &_smp {
                    padding-top: 0;
                }

                .num {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-color: #0081e5;
                    font-size: 21px;
                    font-weight: 900;
                    text-align: center;
                    line-height: 60px;
                    color: #fff;
                    position: absolute;
                    left: 0;
                    top: -12px;

                    @include media(xs) {
                        width: 80px;
                        height: 80px;
                        line-height: 80px;
                        font-size: 28px;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 110px;
            margin-bottom: 40px;

            @include media(xs) {
                margin-left: 0;
                margin-bottom: 15px;
            }

            li {
                color: #151515;
                font-size: 21px;
                line-height: 37px;
                font-style: italic;
                text-align: left;

                @include media(xs) {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .buy-pluses {
            display: flex;
            justify-content: space-around;
            margin-bottom: 70px;
            flex-wrap: wrap;

            &__item {
                text-align: center;
                margin: 0 20px 25px;

                &:last-child {
                    margin-bottom: 0;
                }

                @include media(xs) {
                    margin: 0 0 50px;
                }

                @include media(sm) {
                    flex: 0 0 100%;
                }

                @include media(md) {
                    flex: 0 0 230px;
                }

                @include media(lg) {
                    flex: 0 0 260px;
                }

                &-icon {
                    line-height: 120px;
                    margin-bottom: 40px;

                    @include media(xs) {
                        margin-bottom: 35px;
                    }
                }

                &-title {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 30px;
                    color: #000;

                    @include media(xs) {
                        font-size: 25px;
                        margin-bottom: 25px;
                    }
                }

                &-note {
                    font-size: 18px;

                    @include media(xs) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &__breadcrumbs {
        margin-bottom: 20px;

        &-item {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-size: 18px;
            font-weight: 700;

            &:after {
                content: ' » ';
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &-link {
                color: #fff;
                border-bottom: 0;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.catalog-page {
    &__sorts {
        margin-bottom: 15px;
    }

    &__sort {
        margin-bottom: 15px;
        color: #fff;
        font-size: 18px;

        @include media(xs) {
            font-size: 16px;
        }

        a {
            color: #fff !important;
            border: 0;
        }
    }
}

.catalog-filters {
    padding: 40px;
    background-color: #fff;
    margin-bottom: 30px;

    @include media(xs) {
        padding: 0;
        background-color: transparent;
    }

    &__title {
        margin-bottom: 30px;
        color: #373a3d;
        font-size: 24px;
        font-weight: 700;

        @include media(xs) {
            display: none;
        }
    }

    &__open {
        text-align: center;
        margin-bottom: 30px;
        display: none;

        @include media(xs) {
            display: block;
        }

        &-btn {
            height: 42px;
            border-radius: 42px;
            background-color: #ffffff;
            padding: 0 20px;
            color: #263670;
            font-size: 18px;
            font-weight: 700;
            border: 0;
        }
    }

    &__field {
        margin-bottom: 20px;

        @include media(xs) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__fields {
        @include media(xs) {
            display: none;
            padding: 0 10px;
        }

        .selectric {
            .label {
                line-height: 52px;
                height: 52px;
                font-size: 18px;
                margin-left: 25px;
                margin-right: 45px;
            }

            .button {
                @include bg($select_sm);
                right: 15px;
            }
        }

        input[type='text'] {
            width: 100%;
            height: 52px;
            border-radius: 4px;
            border: 1px solid #c3cdd5;
            background-color: #ffffff;
            color: #4d6f8c;
            font-size: 18px;
            padding: 0 25px;
        }
    }

    &__submit {
        padding-top: 35px;
        padding-bottom: 15px;
        text-align: center;
    }
}

.catalog-picker {
    margin-bottom: 120px;

    @include media(xs) {
        margin-bottom: 40px;
    }

    .h1 {
        @include media(xs) {
            text-align: center;
        }
    }

    &__collapse {
        text-align: center;
        margin-bottom: 20px;

        padding-bottom: 20px;
        position: relative;

        @include media('sm') {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            @include bg($collapse);
        }

        &-link {
            font-size: 18px;
            font-weight: 500;
            color: #fff !important;
            border-bottom: 0;

            &:hover {
                color: #fff;
            }
        }
    }

    &__selects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__content {
        @include media('xs') {
            display: none;
        }
    }

    &__select {
        flex: 0 0 270px;

        @include media(xs) {
            flex-basis: 100%;
            margin-bottom: 15px;
        }

        @include media(sm) {
            margin: 0 15px 30px;
        }

        @include media(lg) {
            margin: 0 30px 30px;
        }
    }

    &__submit {
        padding-top: 30px;
        text-align: center;
        position: relative;

        &-btn {
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            height: 3px;
            background-color: #cfd8df;
            opacity: 0.3;
            position: absolute;
            bottom: 30px;

            @include media(xs) {
                display: none;
            }

            @include media('sm') {
                left: -15px;
                right: -15px;
            }

            @include media('lg') {
                left: -30px;
                right: -30px;
            }
        }
    }
}

.catalog {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;

        @include media('xs') {
            margin: 0 -5px;
        }
    }

    &__more {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;

        &_sm {
            padding-bottom: 0;
        }

        @include media('xs') {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__item {
        background-color: #fff;
        border: 1px solid #c3cdd5;
        margin: 0 15px 30px;
        flex-grow: 0;
        flex-shrink: 0;

        &:hover {
            transform: scale(1.01);
            transition: transform ease-in-out 0.1s;
        }

        @include media('xs') {
            flex-basis: calc(50% - 10px);
            width: calc(50% - 10px);
            margin: 0 5px 10px;
        }

        @include media('sm') {
            flex-basis: calc(50% - 30px);
            width: calc(50% - 30px);
        }

        @include media('md') {
            flex-basis: 290px;
            width: 290px;
        }

        @include media('lg') {
            flex-basis: 270px;
            width: 270px;
        }

        &_lg {
            position: relative;

            @include media('xs') {
                flex-basis: calc(100% - 10px);
                height: 210px;
            }

            @include media('sm') {
                flex-basis: calc(100% - 30px);
                height: 400px;
            }

            @include media('md') {
                flex-basis: 615px;
                height: auto;
            }

            @include media('lg') {
                flex-basis: 570px;
            }

            &:before {
                content: '';
                height: 220px;
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
        }

        &_lg &-info {
            position: absolute;
            bottom: 0;
            z-index: 2;
            padding: 25px;

            @include media('xs') {
                padding: 10px;
            }
        }

        &_lg &-price {
            height: 43px;
            line-height: 43px;
            font-size: 21px;
            padding-left: 25px;
            margin-left: -25px;
            margin-bottom: 15px;

            @include media(xs) {
                font-size: 12px;
                height: 25px;
                line-height: 25px;
                padding: 0 10px;
                margin-left: -10px;
            }
        }

        &_lg &-photo {
            height: 100%;
        }

        &_lg &-name {
            margin-bottom: 15px;
            color: #fff;
            font-size: 28px;

            @include media('xs') {
                font-size: 14px;
            }

            &:after {
                display: none;
            }
        }

        &_lg &-prop {
            color: #fff;
        }

        &-photo {
            position: relative;
            height: 200px;
            overflow: hidden;

            @include media(xs) {
                height: 120px;
            }

            &-img {
                position: absolute;
                margin: auto;

                &_w {
                    height: 100%;
                    left: -50%;
                    right: -50%;
                }

                &_h {
                    width: 100%;
                    top: -50%;
                    bottom: -50%;
                }
            }
        }

        &-info {
            padding: 15px;

            @include media('xs') {
                padding: 10px 5px;
            }
        }

        &-name {
            position: relative;
            margin-bottom: 20px;
            white-space: nowrap;
            overflow: hidden;
            color: #373a3d;
            font-size: 21px;
            font-weight: 700;
            border-bottom: 0;

            @include media('xs') {
                font-size: 14px;
                margin-bottom: 15px;
            }

            &:after {
                content: '';
                width: 20%;
                background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        &-link {
            border: 0;
            opacity: 1 !important;
        }

        &-props {
            margin-bottom: 10px;
        }

        &-prop {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 22px;

            @include media('xs') {
                font-size: 12px;
                line-height: 16px;
                line-height: 18px;
            }

            &-label {
                color: #5f6468;

                @include media('xs') {
                    display: none;
                }
            }

            &-val {
                color: #444;
            }
        }

        &-price {
            display: inline-block;
            margin-left: -15px;
            height: 36px;
            line-height: 36px;
            background-color: #263670;
            font-size: 18px;
            color: #fff;
            padding: 0 15px;
            font-weight: 700;
            white-space: nowrap;

            @include media('xs') {
                font-size: 12px;
                margin-left: -5px;
                height: 24px;
                line-height: 24px;
                padding: 0 5px;
            }

            &_old {
                background-color: transparent;
                color: #969696;
                font-size: 18px;
                font-weight: 400;
                text-decoration: line-through;

                @include media(xs) {
                    font-size: 11px;
                }
            }

            &_new {
                background-color: #fc5c24;
            }
        }
    }
}

.car-page {
    padding: 40px 100px;
    background-color: #fff;
    margin-bottom: 80px;

    @include media(xs) {
        padding: 25px 15px;
    }

    &_withcreditorder {
        margin-bottom: 0;

        @include media(xs) {
            padding-bottom: 0;
        }
    }

    &__top {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        @include media(xs) {
            margin-bottom: 25px;
        }

        &-back {
            margin-right: 10px;
            align-self: center;

            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                border: 1px solid #94abbd;
                background-color: #f2f2f2;

                &:before {
                    content: '';
                    display: inline-block;
                    @include bg($back);
                }
            }
        }
    }

    &__title {
        color: #373a3d;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
        text-align: left;

        @include media(xs) {
            font-size: 23px;
        }
    }

    &__price {
        color: #373a3d;
        font-size: 28px;
        font-weight: 700;

        @include media(xs) {
            font-size: 23px;
            text-align: center;
            margin-bottom: 25px;
        }
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px 20px;

        @include media(xs) {
            margin: 0 -25px 20px;
        }

        &-lg {
            flex-basis: 100%;
            margin-bottom: 20px;
            padding: 0 10px;
            position: relative;

            &-link {
                opacity: 1 !important;
                border: 0;

                &:before {
                    content: '';
                    @include bg($zoom);
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                }
            }

            &-img {
                width: 100%;
            }
        }

        &-sm {
            flex-basis: 20%;
            padding: 0 10px;
            margin-bottom: 20px;
            cursor: pointer;

            &-img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__desc {
        &-title {
            margin-bottom: 40px;
            color: #373a3d;
            font-size: 24px;
            font-weight: 700;

            @include media(xs) {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }

        p {
            color: #3b3c3c;
            font-size: 16px;
            line-height: 27px;

            @include media(xs) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__complect {
        @include media(xs) {
            margin-bottom: 30px;
        }

        &-title {
            color: #373a3d;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        ul {
            @include nl;

            li {
                color: #3b3c3c;
                font-size: 16px;
                font-weight: 500;
                line-height: 27px;

                @include media(xs) {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }
    }

    &__info {
        background-color: #edf1f5;
        padding: 20px 25px;
        margin-bottom: 40px;

        @include media(xs) {
            margin: 0 -25px 20px;
        }

        &-buy {
            margin-bottom: 50px;
            display: flex;
            align-items: flex-end;
            align-content: stretch;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -10px;

            &-btn {
                margin-bottom: 20px;
                padding: 0 10px;

                &_blue {
                    flex: 1 1 190px;
                }

                @include media(xs) {
                    flex: 0 0 100%;
                }

                &-note {
                    text-align: center;
                    color: #636c67;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
        }

        &-props {
            margin-bottom: 40px;
        }

        &-prop {
            font-size: 16px;
            line-height: 27px;
            white-space: nowrap;
            display: flex;

            @include media(xs) {
                font-size: 14px;
                line-height: 22px;
            }

            &-label {
                display: inline-block;
                margin-right: 5px;
                color: #5f6468;
            }

            &-val {
                color: #3c3c3c;
            }
        }

        &-manager {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &-title {
                flex-basis: 100%;
                margin-bottom: 25px;
            }

            &-photo {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                overflow: hidden;
                margin-right: 30px;

                @include media(xs) {
                    width: 65px;
                    height: 65px;
                    margin-right: 20px;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-name {
                margin-bottom: 10px;
                color: #373a3d;
                font-size: 24px;
                font-weight: 700;

                @include media(xs) {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            &-phone {
                color: #66696c;
                font-size: 21px;
                font-weight: 500;

                @include media(xs) {
                    font-size: 14px;
                }
            }
        }

        &-location {
            margin-bottom: 40px;

            &-title {
                margin-bottom: 15px;
                color: #212121;
                font-size: 16px;
                font-weight: 500;
            }

            &-address {
                position: relative;
                padding: 10px 10px 10px 40px;
                border-radius: 17px;
                background-color: #fff;
                font-size: 16px;

                @include media(xs) {
                    font-size: 12px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    @include bg($location);
                }

                &-link {
                    color: #212121 !important;
                    border: 0;
                }
            }
        }
    }

    .credit-calc {
        @include media(xs) {
            margin: 0 -25px;
        }
    }
}

.credit-calc {
    background-color: #edf1f5;
    padding: 60px 30px 15px;

    @include media(xs) {
        padding: 45px 23px 10px;
    }

    &__firstpay {
        margin-bottom: 50px;

        &-val {
            margin-bottom: 50px;
            text-align: center;
            color: #373a3d;
            font-size: 21px;
            font-weight: 500;
        }

        &-slider {
            position: relative;
            max-width: 405px;
            padding: 0 70px;
            margin: 0 auto;

            @include media(xs) {
                padding: 0 60px
            }

            &-btn {
                position: absolute;
                top: -12px;
                border: 0;
                padding: 0;
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                font-size: 0;

                @include media(xs) {
                    top: -9px;
                }

                &_plus {
                    right: 0;
                    @include bg($plus);

                    @include media(xs) {
                        @include bg($plus_sm);
                    }
                }

                &_minus {
                    left: 0;
                    @include bg($minus);

                    @include media(xs) {
                        @include bg($minus_sm);
                    }
                }
            }

            .slider {
                margin: 0 auto;
                max-width: 265px;
                position: relative;

                .slider-handle {
                    display: block;
                    position: absolute;
                    border-radius: 100%;
                    top: -25px;
                    width: 60px;
                    height: 60px;
                    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.27);
                    border: 1px solid #0070c7;
                    background-color: #0081e5;
                    background-image: linear-gradient(to top, #0081e5 0%, #006fe1 100%);
                    z-index: 1;
                    margin-left: -30px;
                }

                .slider-track {
                    margin: 0 -30px;
                    height: 7px;
                    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    background-color: #dae2e9;
                }

                .tooltip.top {
                    cursor: pointer;
                    position: absolute;
                    z-index: 2;
                    text-shadow: 0 1px 0 #1165a5;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 60px;
                    text-align: center;
                    top: -25px;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    &__total {
        color: #373a3d;
        font-size: 21px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }

    &__note {
        text-align: center;
        color: #7f7f7f;
        font-size: 14px;
        line-height: 21px;
    }
}

.contacts {
    &__phones {
        color: #373a3d;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;

        @include media(xs) {
            font-size: 20px;
        }
    }

    &__adresses {
        &-title {
            color: #373a3d;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;

            @include media(xs) {
                font-size: 20px;
                margin-bottom: 18px;
            }
        }
    }

    &__adress {
        font-size: 19px;
        margin-bottom: 40px;

        @include media(xs) {
            font-size: 14px;
            margin-bottom: 20px;
        }

        &-note {
            margin-top: 5px;
            font-size: 18px;

            @include media(xs) {
                font-size: 12px;
            }
        }
    }

    &__socials {
        margin-bottom: 35px;

        &-title {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            color: #373a3d;
            font-size: 24px;
            font-weight: 500;

            @include media(xs) {
                font-size: 16px;
            }
        }
    }

    &__social {
        display: inline-block;
        margin-right: 10px;

        &-link {
            border: 0;
        }
    }
}

.credit-order {
    background-color: #0081e5;
    padding: 60px 100px;

    @include media(xs) {
        padding: 50px 45px;
    }

    &__title {
        margin-bottom: 60px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;

        @include media(xs) {
            text-align: center;
            font-size: 25px;
            margin-bottom: 30px;
        }
    }

    &__form {
        max-width: 470px;
        margin: 0 auto;

        &-line {
            margin-bottom: 40px;

            @include media(xs) {
                margin-bottom: 20px;
            }

            &_submit {
                text-align: center;
                margin-bottom: 0;
            }
        }

        input[type="text"] {
            width: 100%;
            height: 60px;
            border: 0;
            border-bottom: 2px solid #b8d2e6;;
            background-color: transparent;
            color: #bae1ff;
            font-size: 18px;

            @include media(xs) {
                font-size: 15px;
                height: 35px;
            }

            &::-webkit-input-placeholder {
                color: #bae1ff;
            }

            &::-moz-placeholder {
                color: #bae1ff;
            }

            &:-moz-placeholder {
                color: #bae1ff;
            }

            &:-ms-input-placeholder {
                color: #bae1ff;
            }
        }
    }
}
