@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-MediumItalic.eot?') format('eot'),
         url('../fonts/GothamPro-MediumItalic.otf')  format('opentype'),
         url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
         url('../fonts/GothamPro-MediumItalic.ttf')  format('truetype'),
         url('../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
        font-style: italic;
        font-weight: 500;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Medium.eot?') format('eot'),
         url('../fonts/GothamPro-Medium.otf')  format('opentype'),
         url('../fonts/GothamPro-Medium.woff') format('woff'),
         url('../fonts/GothamPro-Medium.ttf')  format('truetype'),
         url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold.eot?') format('eot'),
         url('../fonts/GothamPro-Bold.otf')  format('opentype'),
         url('../fonts/GothamPro-Bold.woff') format('woff'),
         url('../fonts/GothamPro-Bold.ttf')  format('truetype'),
         url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-BoldItalic.eot?') format('eot'),
         url('../fonts/GothamPro-BoldItalic.otf')  format('opentype'),
         url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
         url('../fonts/GothamPro-BoldItalic.ttf')  format('truetype'),
         url('../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot?') format('eot'),
         url('../fonts/GothamPro.otf')  format('opentype'),
         url('../fonts/GothamPro.woff') format('woff'),
         url('../fonts/GothamPro.ttf')  format('truetype'),
         url('../fonts/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Italic.eot?') format('eot'),
         url('../fonts/GothamPro-Italic.otf')  format('opentype'),
         url('../fonts/GothamPro-Italic.woff') format('woff'),
         url('../fonts/GothamPro-Italic.ttf')  format('truetype'),
         url('../fonts/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-style: italic;
}

@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 100;
    src: local("ClearSans-Thin"), local("Clear Sans Thin"), url("../fonts/EOT/ClearSans-Thin.eot"), url("../fonts/EOT/ClearSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Thin.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Thin.woff") format("woff"), url("../fonts/TTF/ClearSans-Thin.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Thin.svg") format("svg")
}
@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 300;
    src: local("ClearSans-Light"), local("Clear Sans Light"), url("../fonts/EOT/ClearSans-Light.eot"), url("../fonts/EOT/ClearSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Light.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Light.woff") format("woff"), url("../fonts/TTF/ClearSans-Light.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Light.svg") format("svg")
}
@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 400;
    src: local("ClearSans"), local("Clear Sans"), url("../fonts/EOT/ClearSans-Regular.eot"), url("../fonts/EOT/ClearSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Regular.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Regular.woff") format("woff"), url("../fonts/TTF/ClearSans-Regular.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Regular.svg") format("svg")
}
@font-face {
    font-family: "Clear Sans";
    font-style: italic;
    font-weight: 400;
    src: local("ClearSans-Italic"), local("Clear Sans Italic"), url("../fonts/EOT/ClearSans-Italic.eot"), url("../fonts/EOT/ClearSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Italic.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Italic.woff") format("woff"), url("../fonts/TTF/ClearSans-Italic.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Italic.svg") format("svg")
}
@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 500;
    src: local("ClearSans-Medium"), local("Clear Sans Medium"), url("../fonts/EOT/ClearSans-Medium.eot"), url("../fonts/EOT/ClearSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Medium.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Medium.woff") format("woff"), url("../fonts/TTF/ClearSans-Medium.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Medium.svg") format("svg")
}
@font-face {
    font-family: "Clear Sans";
    font-style: italic;
    font-weight: 500;
    src: local("ClearSans-MediumItalic"), local("Clear Sans Medium Italic"), url("../fonts/EOT/ClearSans-MediumItalic.eot"), url("../fonts/EOT/ClearSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-MediumItalic.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-MediumItalic.woff") format("woff"), url("../fonts/TTF/ClearSans-MediumItalic.ttf") format("truetype"), url("../fonts/SVG/ClearSans-MediumItalic.svg") format("svg")
}

@font-face {
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: 700;
    src: local("ClearSans-Bold"), local("Clear Sans Bold"), url("../fonts/EOT/ClearSans-Bold.eot"), url("../fonts/EOT/ClearSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-Bold.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-Bold.woff") format("woff"), url("../fonts/TTF/ClearSans-Bold.ttf") format("truetype"), url("../fonts/SVG/ClearSans-Bold.svg") format("svg")
}

@font-face {
    font-family: "Clear Sans";
    font-style: italic;
    font-weight: 700;
    src: local("ClearSans-BoldItalic"), local("Clear Sans Bold Italic"), url("../fonts/EOT/ClearSans-BoldItalic.eot"), url("../fonts/EOT/ClearSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2-convert/ClearSans-BoldItalic.woff2") format("woff2"), url("../fonts/WOFF/ClearSans-BoldItalic.woff") format("woff"), url("../fonts/TTF/ClearSans-BoldItalic.ttf") format("truetype"), url("../fonts/SVG/ClearSans-BoldItalic.svg") format("svg")
}

$ClearSans: "Clear Sans", sans-serif;
$GothamPro: "GothamPro", sans-serif;
