a {
    text-decoration: none !important;
    border-bottom: 1px solid;

    &:hover {
        opacity: .7;
    }
}

input[type="text"],
textarea {
    outline: none !important;

    &:focus::-webkit-input-placeholder {
        color: transparent !important;
    }

    &:focus::-moz-placeholder {
        color: transparent !important;
    }

    &:focus:-moz-placeholder {
        color: transparent !important;
    }

    &:focus:-ms-input-placeholder {
        color: transparent !important;
    }
}

.btn {
    white-space: nowrap;

    &_block {
        width: 100% !important;
    }

    &_submit {
        padding: 0 85px;
        height: 78px;
        border-radius: 39px;
        background-color: #f47733;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        border: 0;

        @include media(xs) {
            padding: 0 25px;
            height: 47px;
            border-radius: 47px;
            font-size: 18px;
        }
    }

    &_blue {
        height: 53px;
        border-radius: 26px;
        background-color: #006ce5;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border: 0;
        padding: 0 25px;

        @include media(xs) {
            font-size: 14px;
            padding: 0 10px;
        }
    }

    &_green {
        height: 53px;
        border-radius: 26px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background-color: #32b233;
        border: 0;
        padding: 0 25px;

        @include media(xs) {
            font-size: 14px;
            padding: 0 10px;
        }
    }

    &_dark {
        height: 53px;
        line-height: 49px;
        border-radius: 26px;
        border: 2px solid #77808a;
        background-color: transparent;
        color: #53595f;
        font-size: 18px;
        font-weight: 700;
        padding: 0 25px;

        @include media(xs) {
            font-size: 14px;
            padding: 0 10px;
        }
    }

    &_want {
        border: 0;
        background-color: #fff;
        color: #263670;
        font-weight: 700;

        @include media(xs) {
            width: 240px;
            height: 50px;
            font-size: 18px;
            border-radius: 25px;
        }

        @include media(sm) {
            height: 70px;
            width: 370px;
            font-size: 28px;
            border-radius: 35px;
        }
    }

    &_callback {
        width: 220px;
        height: 37px;
        border-radius: 18px;
        border: 2px solid #a7bcc7;
        background-color: rgba(0, 129, 229, 0);
        color: #a7bcc7;
        font-size: 21px;
        font-weight: 500;
        background: transparent;
    }

    &_more {
        display: inline-block;
        padding: 0 30px;
        line-height: 44px;
        height: 48px;
        text-align: center;
        border-radius: 24px;
        border: 2px solid #c3ccd6;
        background-color: rgba(0, 129, 229, 0);
        font-size: 21px;
        font-weight: 500;
        color: #fff;

        @include media('xs') {
            font-size: 14px;
            height: 37px;
            line-height: 35px;
            padding: 0 20px;
            border-width: 1px;
        }

        &:hover {
            color: #fff;
        }
    }

    &_pick {
        padding: 0 55px;
        height: 64px;
        box-shadow: 0 11px 54px rgba(4, 97, 202, 0.7);
        border-radius: 32px;
        background-color: #006ce5;
        border: 0;
        color: #fff;
        font-size: 28px;
        font-weight: 700;

        @include media('xs') {
            height: 55px;
            padding: 0 35px;
            font-size: 24px;
        }
    }
}
