<div class="service">
    <div class="service__items">
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service1.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">Выкуп авто</div>
            </a>
        </div>
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service2.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">Оформление документов</div>
            </a>
        </div>
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service3.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">В кредит у соседа</div>
            </a>
        </div>
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service1.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">Выкуп авто</div>
            </a>
        </div>
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service2.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">Оформление документов</div>
            </a>
        </div>
        <div class="service__item">
            <a href="/service.html" class="service__item-link">
                <div class="service__item-photo"><img src="%=staticPrefix=%img/content/service3.png" alt="" class="service__item-photo-img service__item-photo-img_w"></div>
                <div class="service__item-name">В кредит у соседа</div>
            </a>
        </div>
    </div>
</div>
