.service {
    &__items {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        flex-wrap: wrap;

        @include media(xs) {
            margin: 0 -5px;
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 370px;
        margin: 0 15px 30px;
        background-color: #fff;

        &:hover {
            transform: scale(1.01);
            transition: transform ease-in-out 0.1s;
        }

        @include media(xs) {
            flex-shrink: 0;
            flex-basis: 100%;
            flex-wrap: wrap;
            margin: 0 5px 15px;
        }

        @include media(sm) {
            flex: 0 1 340px;
        }

        @include media(md) {
            flex: 0 1 290px;
        }

        @include media(lg) {
            flex: 0 1 370px;
        }

        &-photo {
            position: relative;
            overflow: hidden;

            @include media(xs) {
                height: 210px;
            }

            @include media(sm) {
                height: 240px;
            }

            @include media(md) {
                height: 220px;
            }

            @include media(lg) {
                height: 260px;
            }

            &-img {
                position: absolute;
                margin: auto;

                &_w {
                    height: 100%;
                    left: -50%;
                    right: -50%;
                }

                &_h {
                    width: 100%;
                    top: -50%;
                    bottom: -50%;
                }
            }
        }

        &-link {
            border: 0;
            opacity: 1 !important;
        }

        &-name {
            display: flex;
            align-items: center;
            height: 80px;
            line-height: 20px;
            font-weight: 700;
            color: #373a3d;
            border: 0;
            font-family: $ClearSans;

            @include media('xs') {
                font-size: 20px;
                padding: 0 20px;
            }

            @include media('sm') {
                font-size: 18px;
                padding: 0 15px;
            }

            @include media('md') {
                font-size: 24px;
                padding: 0 25px;
            }
        }
    }

    &__more {
        padding-top: 30px;
        text-align: center;
    }
}
