<section class="main-section">
    <div class="container">
        <div class="main-section__logo hidden-xs">
            <img src="%=staticPrefix=%img/general/logo.png" class="main-section__logo-img">
        </div>
        <div class="main-section__slogan">Надёжные автомобили с пробегом</div>
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="main-section__slogan-small">Легко продавайте и покупайте автомобили с помощью экспертов вторичного рынка.</div>
            </div>
        </div>
        <div class="main-section__pluses hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="main-section__plus">10 лет на рынке авто<br />с пробегом</div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="main-section__plus">Более 1000 успешных<br />сделок</div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="main-section__plus">Юридическая чистота<br />каждого авто</div>
                </div>
            </div>
        </div>
        <div class="main-section__want-btns">
            <div class="main-section__want-btn"><button type="button" class="btn btn_want">Я хочу купить авто</button></div>
            <div class="main-section__want-btn"><button type="button" class="btn btn_want">Я хочу продать авто</button></div>
        </div>
    </div>
</section>
