.main-section {
    position: relative;
    z-index: 1;
    background-position: top center;
    background-repeat: no-repeat;

    @include media('xs') {
        padding-top: 40px;
        background-image: url('%=staticPrefixForCss=%general/bg/main_xs.png');
        background-size: cover;
    }

    @include media('sm') {
        padding-top: 110px;
        background-image: url('%=staticPrefixForCss=%general/bg/main.png');
    }

    &__logo {
        margin-bottom: 70px;
        text-align: center;
    }

    &__slogan {
        color: #fff;
        text-align: center;
        font-weight: 700;

        @include media('xs') {
            font-size: 21px;
            line-height: 38px;
            margin-bottom: 30px;
        }

        @include media('sm') {
            font-size: 50px;
            line-height: 75px;
            margin-bottom: 50px;
        }
    }

    &__slogan-small {
        color: #fff;
        text-align: center;
        font-weight: 500;

        @include media(xs) {
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 40px;
        }

        @include media(sm) {
            font-size: 34px;
            line-height: 55px;
            margin-bottom: 50px;
        }

        @include media(md) {
            margin-bottom: 100px;
        }
    }

    &__pluses {
        margin-bottom: 110px;
    }

    &__plus {
        position: relative;
        color: #fff;
        font-size: 21px;
        font-weight: 700;
        line-height: 36px;

        &:before {
            content: '';
            position: absolute;
            left: -60px;
            top: 0;
            @include bg($check);
        }
    }

    &__want-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__want-btn {
        padding: 0 45px;
        margin-bottom: 45px;

        @include media('xs') {
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
}
