<footer class="page-footer">
    <div class="page-footer__logo">
        <img src="%=staticPrefix=%img/general/footer-logo.png" class="page-footer__logo-img">
    </div>
    <div class="page-footer__copy">
        © Skyplaz, 2017.
    </div>
</footer>
