.page-footer {
    position: relative;
    z-index: 1;
    height: 200px;
    background-color: #2c303f;
    padding-top: 40px;
    margin-top: -200px;
    min-width: 300px;

    @include media('xs') {
        height: 140px;
        margin-top: -140px;
        padding-top: 20px;
    }

    &__logo {
        text-align: center;
        margin-bottom: 30px;

        @include media('xs') {
            margin-bottom: 15px;
        }
    }

    &__copy {
        text-align: center;
        color: #5d6379;
        font-family: $ClearSans;
        font-size: 16px;

        @include media('xs') {
            font-size: 14px;
        }
    }
}
