<div class="catalog">
    <div class="h1">Еще предложения</div>
    <div class="catalog__items">
        <div class="catalog__item">
            <a href="/car.html" class="catalog__item-link">
                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo2.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                <div class="catalog__item-info">
                    <div class="catalog__item-name">Toyota RAV4</div>
                    <div class="catalog__item-props">
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Год выпуска</div>
                            <div class="catalog__item-prop-val">2008</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Пробег</div>
                            <div class="catalog__item-prop-val">147000 км</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Объем двигателя</div>
                            <div class="catalog__item-prop-val">2.4 л</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">КПП</div>
                            <div class="catalog__item-prop-val">автомат</div>
                        </div>
                    </div>
                    <div class="catalog__item-price">790 000 руб.</div>
                </div>
            </a>
        </div>
        <div class="catalog__item">
            <a href="/car.html" class="catalog__item-link">
                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo3.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                <div class="catalog__item-info">
                    <div class="catalog__item-name">Volkswagen Tiguan</div>
                    <div class="catalog__item-props">
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Год выпуска</div>
                            <div class="catalog__item-prop-val">2008</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Пробег</div>
                            <div class="catalog__item-prop-val">147000 км</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Объем двигателя</div>
                            <div class="catalog__item-prop-val">2.4 л</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">КПП</div>
                            <div class="catalog__item-prop-val">автомат</div>
                        </div>
                    </div>
                    <div class="catalog__item-price">675 000 руб.</div>
                </div>
            </a>
        </div>
        <div class="catalog__item">
            <a href="/car.html" class="catalog__item-link">
                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo2.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                <div class="catalog__item-info">
                    <div class="catalog__item-name">Toyota RAV4</div>
                    <div class="catalog__item-props">
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Год выпуска</div>
                            <div class="catalog__item-prop-val">2008</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Пробег</div>
                            <div class="catalog__item-prop-val">147000 км</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Объем двигателя</div>
                            <div class="catalog__item-prop-val">2.4 л</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">КПП</div>
                            <div class="catalog__item-prop-val">автомат</div>
                        </div>
                    </div>
                    <div class="catalog__item-price">790 000 руб.</div>
                </div>
            </a>
        </div>
        <div class="catalog__item">
            <a href="/car.html" class="catalog__item-link">
                <div class="catalog__item-photo"><img src="%=staticPrefix=%img/content/photo3.png" alt="" class="catalog__item-photo-img catalog__item-photo-img_h"></div>
                <div class="catalog__item-info">
                    <div class="catalog__item-name">Volkswagen Tiguan</div>
                    <div class="catalog__item-props">
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Год выпуска</div>
                            <div class="catalog__item-prop-val">2008</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Пробег</div>
                            <div class="catalog__item-prop-val">147000 км</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">Объем двигателя</div>
                            <div class="catalog__item-prop-val">2.4 л</div>
                        </div>
                        <div class="catalog__item-prop">
                            <div class="catalog__item-prop-label">КПП</div>
                            <div class="catalog__item-prop-val">автомат</div>
                        </div>
                    </div>
                    <div class="catalog__item-price">675 000 руб.</div>
                </div>
            </a>
        </div>
    </div>
</div>
