<div id="picker" class="catalog-picker">
    <div class="h1">Быстрый подбор авто</div>
    <div class="catalog-picker__collapse">
        <a href="#" class="catalog-picker__collapse-link" data-action="toggle-picker">Развернуть</a>
    </div>
    <div class="catalog-picker__content">
        <div class="catalog-picker__selects">
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Марка</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Модель</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Год выпуска, от</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Коробка</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Цена, от</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="catalog-picker__select">
                <select class="selectpicker">
                    <option>Цена, до</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
        <div class="catalog-picker__submit">
            <div class="catalog-picker__submit-btn">
                <button class="btn btn_pick">Подобрать</button>
            </div>
        </div>
    </div>
</div>
