.modal {
    padding: 100px 0;

    @include media(xs) {
        padding: 60px 0;
    }

    &-backdrop {
        background-color: #000;

        &.in {
            opacity: 0.6;
        }
    }

    .modal-dialog {
        @include media(sm) {
            width: 760px;
        }

        @include media(xs) {
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .modal-content {
            background-color: #fff;
            border-radius: 0;
            box-shadow: none;
            padding: 90px 0;

            @include media(xs) {
                padding: 60px 0;
            }

            .modal-close {
                position: absolute;
                border: 0;
                @include bg($close_modal);

                @include media(xs) {
                    right: 15px;
                    top: 15px;
                }

                @include media(sm) {
                    right: 25px;
                    top: 25px;
                }
            }

            .modal-body {
                padding: 0 25px;

                .title {
                    font-size: 28px;
                    font-weight: bold;
                    margin-bottom: 50px;
                    text-align: center;
                    line-height: 1;
                    color: #373a3d;

                    @include media(xs) {
                        font-size: 24px;
                        padding: 0 10px;
                    }
                }

                .note {
                    font-style: italic;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 1;
                }

                .form {
                    max-width: 470px;
                    margin: 0 auto;

                    &__line {
                        margin-bottom: 40px;

                        &_submit {
                            text-align: center;
                            margin: 20px 0;
                        }

                        &_result {
                            text-align: center;
                        }

                        input[type="text"] {
                            width: 100%;
                            height: 55px;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px solid #7894a9;
                            color: #27577a;
                            font-size: 21px;

                            @include media(xs) {
                                height: 40px;
                                font-size: 14px;
                            }
                        }
                    }
                }

                .loader {
                    display: block;
                    height: 32px;
                    background-image: url('%=staticPrefixForCss=%general/loading.gif');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
