<header id="header" class="page-header">
    <div class="page-header__top visible-xs">
        <div class="container">
            <div class="page-header__top-content">
                <div class="page-header__top-logo">
                    <a href="/" class="page-header__top-logo-link"><img src="%=staticPrefix=%img/general/logo_xs.png" alt="Sky Plaz" class="page-header__top-logo-img"></a>
                </div>
                <div class="page-header__top-call"><a href="#" class="page-header__top-call-link">Позвонить</a></div>
            </div>
        </div>
    </div>
    <nav class="page-header__nav">
        <div class="container">
            <div class="page-header__nav-collapse visible-xs">
                <button class="page-header__nav-collapse-btn" data-action="toggle-nav" />
            </div>
            <ul class="page-header__nav-links" id="nav">
                <li class="page-header__nav-links-item"><a href="/catalog.html" class="page-header__nav-link">Каталог авто</a></li>
                <li class="page-header__nav-links-item"><a href="/service.html" class="page-header__nav-link">Купить</a></li>
                <li class="page-header__nav-links-item"><a href="#" class="page-header__nav-link">Продать</a></li>
                <li class="page-header__nav-links-item"><a href="/services.html" class="page-header__nav-link">Услуги</a></li>
                <li class="page-header__nav-links-item"><a href="/contacts.html" class="page-header__nav-link">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <div class="page-header__contacts hidden-xs">
        <div class="container">
            <div class="page-header__contacts-content">
                <div class="page-header__contacts-phones"><i class="icn icn_phone"></i> 8 (800) 707-10-19, 8 (846) 215-01-02</div>
                <div class="page-header__contacts-callback">
                    <button type="button" class="btn btn_callback" data-action='{"show-modal": {"url": "/callback_modal.html"}}'>Заказать звонок</button>
                </div>
            </div>
        </div>
    </div>
</header>
