.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    &.nav-up &__contacts {
        margin-top: -80px;
    }

    &.nav-up &__nav {
        @include media(xs) {
            margin-top: -70px;
        }

        &-links {
            @include media(xs) {
                display: none !important;
            }
        }
    }

    &__top {
        background-color: #fff;
        padding: 20px 0;
        position: relative;
        z-index: 2;

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            &-link {
                @include nolink;
            }
        }

        &-call {
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                @include bg($phone2);
            }

            &-link {
                display: inline-block;
                vertical-align: middle;
                color: #1c2b36;
                font-size: 21px;
                font-weight: 500;
                border: 0;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        background-color: #0081e5;
        position: relative;
        z-index: 1;
        transition: all 0.2s ease-in-out;

        @include media('xs') {
            height: 60px;
        }

        &-collapse {
            height: 60px;
            line-height: 60px;

            &-btn {
                display: inline-block;
                vertical-align: middle;
                background-color: transparent;
                border: 0;
                @include bg($hamburger);
            }
        }

        &-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            flex:0 1 890px;

            @include nl;

            @include media('xs') {
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                padding: 10px 20px;
                background-color: #0081e5;
                height: auto;
            }

            &-item {
                @include media(xs) {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        &-link {
            color: #fff !important;
            font-size: 24px;
            font-weight: 500;
            border: 0;
        }
    }

    &__contacts {
        background-color: #24282a;
        transition: all 0.2s ease-in-out;

        &-content {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 970px;
            margin: 0 auto;
        }

        &-phones {
            color: #a8bdc7;
            font-size: 21px;
            font-weight: 500;

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 25px;
                @include bg($phone);
            }
        }
    }
}
